<div class="card">
  <form (ngSubmit)="AddProduct()">
    <div class="card-header">
      ADD BOOK
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class='table'>
          <tbody>
            <tr>
              <td><label>Product ID</label></td>
              <td><input type="text" name="p_id" [(ngModel)]="productItem.productId"/></td>
            </tr>
            <tr>
              <td><label>Product Name</label></td>
              <td><input type="text" name="p_name" [(ngModel)]="productItem.productName"/></td>
            </tr>
            <tr>
              <td><label>ReleaseCode</label></td>
              <td><input type="text" name="r_cd" [(ngModel)]="productItem.productCode"/></td>
            </tr>
            <tr>
              <td><label>Release Date</label></td>
              <td><input type="text" name="r_dt" [(ngModel)]="productItem.releaseDate"/></td>
            </tr>
            <tr>
              <td><label>Product Description</label></td>
              <td><input type="text" name="p_desc" [(ngModel)]="productItem.description"/></td>
            </tr>
            <tr>
              <td><label>Produt Price</label></td>
              <td><input type="text" name="p_price" [(ngModel)]="productItem.price"/></td>
            </tr>
            <tr>
              <td><label>Product StarRating</label></td>
              <td><input type="text" name="p_rating" [(ngModel)]="productItem.starRating"/></td>
            </tr>
            <tr>
              <td><label>Product imageUrl</label></td>
              <td><input type="text" name="p_image" [(ngModel)]="productItem.imageUrl"/></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Submit"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>