<div class="card">
  <h1>{{title}}</h1>
        <div class="card-header">
          Product List
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class='table'
            *ngIf = 'products && products.length'>
                
              <thead>
                <tr>
                  <th>
                    <button class='btn-primary'
                    (click)='toggleImage()'>
                    {{showImage? 'Hide':'Show'}} Image
                    </button>
                  </th>
                  <th>Product</th>
                  <th>Code</th>
                  <th>Available</th>
                  <th>Price</th>
                  <th>5 Star Rating</th>
                </tr>
              </thead>
              <tbody>  
                <tr *ngFor='let product of products'>
                  <td><img *ngIf='showImage' [src]='product.imageUrl'class="abc" 
                    [title] = 'product.productName'
                    [style.width.px] = 'imageWidth'
                    [style.margin.px] = 'imageMargin'></td>
                  <td>{{ product.productName }}</td>
                  <td>{{ product.productCode }}</td>
                  <td>{{ product.releaseDate }}</td>
                  <td>{{ product.price|currency:'INR' }}</td>
                  <td>{{ product.starRating }}</td>
                </tr> 
              </tbody>
            </table>
          </div>
        </div>
</div>
